/* CSS DOCUMENTATION */
/* 
AJUSTE GENERALDE ESTILOS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
  }
  
  :root {
    --fontColor:#035755;
    font-family: "Poppins", system-ui;
  }
  
  body {
  background-image: radial-gradient(#ff8c948c, rgba(255, 0, 0, 0) 40vw), radial-gradient(#a8e6ce6e, rgba(0, 128, 0, 0) 40vw), radial-gradient(rgba(128, 0, 255, 0.076), rgba(10, 0, 255, 0) 40vw), radial-gradient(rgba(255, 255, 0, 0.3), rgba(255, 255, 0, 0) 40vw), radial-gradient(rgba(255, 0, 162, 0.138), rgba(255, 0, 0, 0) 40vw);
   background-position: -40vw 14rem, 50% 10rem, 60vw 14rem, -10vw calc(14rem + 20vw), 30vw calc(14rem + 20vw);
   background-size: 80vw 80vw;
   background-repeat: no-repeat;
   
   
  }
  main{
   
    width: 90%;
    height: 100%;
    margin-left: 5%;
    margin-right:5% ;
  }
  
  /* HEADER PARTE SUPERIOR  */
  
  .header {
    padding-top: 15px;  
  }
  
  .header .nav-frame {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    
  }
  .header .pageLogo {
    height: 60px;
    width: 189px;
  }
  .header .open-menu {
    cursor: pointer;
    border: 1px solid #035755;
    border-radius: 20%;
    position: absolute;
    right: 0;
    top: 15px;
  }
  .header .open-menu .line {
    width: 30px;
    height: 3px;
    background-color: #FF5476;
    margin: 5px;
  }
  .header .nav-links {
    position: absolute;
    flex-direction: column;
    border: 1px solid silver;
    border-radius: 0 0 10px 10px;
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    top: 70px;
    width: 100%;
    z-index: 1;
    
  }
  .header .nav-links .nav-link {
    position: relative;
    font-size: 15px;
    color: var(--fontColor);
    text-decoration: none;
    text-align: center;
    margin: 10px 0px;
    cursor: pointer;
  }
  
  .nav-link1{
    position: relative;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
   padding: 10px;
   border: solid 2px#FF383D;
    border-radius: 20px;
    color: #FB4C47;
    background-color: rgba(0, 0, 0, 0.0); 
  
  }
  .nav-link1:hover{
  
  color: #fff;
    background-color: #FF383D;
    transition: 0.4s;
  }
  
  .header .nav-links .nav-link .nav-link1:hover {
    color: #fff;
    background-color: #FF383D;
  }
  
  .nav-links.nav-open {
    display: flex;
    padding-bottom:5px;
  }
  /* FIN HEADER PARTE SUPERIOR  */
  
  /* SECCION PRINCIPAL*/
  
  
   .section .direction {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    
  } 
   .section .center {
    display: flex;
    align-items: center;
    
  } 
  .section__title {
    font-family: var(--fontRedHat);
    font-weight: bold;
    font-size: 24px;
    line-height: 70px;
    color: #FA5652;
  }
  .section__span {
    font-family: var(--fontRedHat);
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    color: #035755;
    text-transform: capitalize;
  }
  .section__desc {
    margin-top: 20px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #4B4F51;
   
  }
  .section__button {
   
    position: relative;
    top: 40px;
    padding: 15px 40px;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
    background: #FB4C47;
    box-shadow: 0px 8px 87px rgba(0, 0, 0, 0.1);
    border-radius: 65px;
    font-weight: 600;
    letter-spacing: 0.05em;
  }
  .section__button:hover {
    box-shadow: 0px 0px 20px rgba(199, 199, 199, 0.7);
    transition: 0.3s ease;
    background: #035755;}
   
  
  
  .section__image{
       width: 300px;
       z-index: 0;
     }
  .section__virus1 {	
  position: absolute;	
    bottom: 40px;	
    left: 0px;	
    width: 150px;	
    z-index: -1;	
    animation: spin 10s linear infinite;
      }
  
  
  
  .section__virus2 {	
    position: absolute;	
    top: 0;	
    right: 0px;	
    width: 100px;	
    opacity: 0.8;	
    z-index: -1;	
    animation: spin 20s linear infinite;	
  }
  
  .section__virus3 {
    position: absolute;
    top: 200px;
    right: 40px;
    width: 100px;
    z-index: -1;
    animation: spin 20s linear infinite;
  }
  
      .section__virus2 {	
    position: absolute;	
    top: 0;	
    right: 0px;	
    width: 100px;	
    opacity: 0.8;	
    z-index: -1;	
    animation: spin 20s linear infinite;	
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
    .section .covidImage__image {	
      width: 330px;	}
              
  
  
          
      .upside {	
        margin-bottom: 70px;	
      }	
      .upside__title {	
        font-family: var(--fontRedHat);	
        font-weight: bold;	
        font-size: 20px;	
        text-align: center;	
        color: #FA5652;	
        margin-top: 40px;	
      }	
      .upside__span {	
        display: block;	
        font-family: var(--fontRedHat);	
        font-weight: bold;	
        font-size: 40px;	
        text-align: center;	
        text-transform: capitalize;	
        color: #035755;	
        margin-bottom: 20px;	
      }
      
      .prevention .row-position {	
        display: flex;	
        align-items: center;	
      }	
      .prevention .row-position:nth-child(odd) {	
        flex-direction: row-reverse;	
      }	
      .prevention__image {	
        margin-top: 30px;	
        width: 330px;	
      }	
      .prevention__span {	
        font-weight: bold;	
        font-size: 30px;	
        text-transform: capitalize;	
        color: #035755;	
        align-items: center;	
        display: inline-flex;	
      }	
      .prevention__number {	
        padding: 10px;	
        margin-right: 15px;	
        background: rgba(250, 86, 82, 0.15);	
        text-transform: capitalize;	
        color: #FA5652;	
        font-size: 30px;	
        border-radius: 100%;	
      }	
      .prevention__desc {	
        margin-top: 20px;	
        font-weight: normal;	
        font-size: 18px;	
        line-height: 30px;	
        text-transform: capitalize;	
        color: #4B4F51;	
      }
  
  
  
  
  
  .prevention {
    margin-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
    background: rgb(255, 255, 255);
    box-shadow: 0 0.75rem 2rem 0 rgba(211, 14, 14, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
  }/* 
  
  .prevention .row-position {
    
    display: flex;
    align-items: center;
  }
  .prevention .row-position:nth-child(odd) {
    flex-direction: row-reverse;
  }
  .prevention__image {
    margin-top: 30px;
    width: 150px;
    height: auto;
  }
  .prevention__span {
    font-weight: bold;
    font-size: 30px;
    color: #035755;
    align-items: center;
    display: inline-flex;
    text-transform: capitalize;
  }
  .prevention__number {
    padding: 10px;
    margin-right: 15px;
    background: rgba(250, 86, 82, 0.15);
    color: #FA5652;
    font-size: 30px;
    border-radius: 100%;
  }
  .prevention__desc {
    margin-top: 20px;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
  
    color: #4B4F51;
  } */
  
  #btn{
    padding: 10px;
    border-radius: 10px;
  }
  
  /* footer */
  
  .footer {
    margin-top: 30px;
    text-align: center;
    padding-bottom: 50px;
  }
  
  .footer__link {
    font-size: 12px;
    line-height: 28px;
    color: #00402E;
    text-decoration: none;
    cursor: pointer;
  }
  
  .text-position {
    text-align:left;
  }
  .top{
     margin-top: -60px;
  }
  .section__image {
    position: relative;
    margin-top: 40px;
    width: 90%;
    height: 80%;
  }
  
  
  /* medidas */
  
  
  @media screen and (min-width: 768px) {
      
    .row.direction {
           flex-direction: row;
      }
       .open-menu {
           display: none;
      }
       .nav-frame {
           flex-direction: row;
      }
       .header .nav-links {
           width: auto;
           display: inline-flex;
           flex-direction: row;
           position: absolute;
           right: 0;
           top: 50%;
           border: none;
           transform: translateY(-50%);
           background-color: transparent;
      }
       .header .nav-links .nav-link {
           display: flex;
           align-items: center;
      }
       .header .nav-links .nav-link:not(:last-child) {
           margin-right: 20px;
      }
       .header .nav-links .nav-link:last-child {
           border: 2px solid #fb4c47;
           border-radius: 46px;
           padding: 10px 35px;
           color: #ff383d;
      }
       .header .nav-links .nav-link:last-child:hover {
           background-color: #fb4c47;
           color: #fff;
           transition: 0.3s;
      }
       .header .nav-links .nav-link.active::after, .header .nav-links .nav-link:not(:last-of-type):hover::after {
           position: absolute;
           content: "";
           width: 10px;
           height: 10px;
           background-color: #fa5652;
           bottom: -15px;
           left: 50%;
           transform: translateX(-50%);
           border-radius: 100%;
      }
       .text-position {
           text-align: left;
      }
       .coronavirus .covidImage {
           margin-top: 75px;
      }
       .upside--top {
           margin-top: -60px;
      }
       .upside__title {
           margin-top: 40px;
      }
       .upside__desc {
           width: 80%;
           margin: auto;
      }
       .symptomps__image {
           width: 600px;
      }
       .prevention {
           text-align: left;
      }
       .prevention__image {
           width: 200px;
       margin-left: 15%;
      }
       .help {
           margin: auto;
           width: 70%;
      }
       .footer {
           padding-top: 100px;
      }
       .footer .logo-figure, .footer .social-figure {
           margin: 0;
           align-items: center;
      }
       .footer .align-center {
           display: flex;
           align-items: center;
      }
    
   
  }
   @media screen and (min-width: 992px) {
       #nav-links .nav-link:not(:last-child) {
           margin-right: 40px;
      }
       .section .text-position {
           text-align: left;
      }
       .section__image {
           width: 90%;
      }
       
       .coronavirus .covidImage {
           margin: 0;
      }
       .coronavirus .covidImage__image {
           width: 450px;
      }
       .coronavirus__desc {
           text-align: left;
      }
       
       .prevention__desc {
           padding-left: 70px;
      }
       .prevention__image {
       margin-left: 15%;
           width: 300px;
      }
       .help {
           margin: auto;
           width: 40%;
      }
   
  }
   